.main-div{
// display: none;
.card-items{
    // display: none;
.text-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
}
.image {
    height: 15rem;
    width: 15rem;
}
}