.herosection{
background-image: url("../../public/image/4.jpg"), linear-gradient(rgb(0,0,0),rgb(0,0,0),rgb(0,0,0));
height: 90vh;
background-attachment: fixed;
flex-direction: column;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
display: flex;
justify-content: center;
align-items: center;
}